@model IEnumerable<vidlyy.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

@if (!Model.Any())
{
    <p>There Is No Customers</p>
}

else
{
    <table class="table table-striped table-hover ">
        <tr>
            <th>Name</th>
            <th>Subscripe</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td class="btn-link">
                    <a href="Customer/New/@c.Id">@c.Name</a>
                </td>
                <td>
                    @c.MemberShipType.MemberTypeName
                </td>
            </tr>
        }
    </table>

}

